.nav{
  display: flex;
  top: 0;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: 30px;
}

.show_bg{
  background-color: black;
}

.logo{
  position: fixed;
  left: 10px;
  width: 70px;
  object-fit: contain;
}

.set_width{
  width: 45px;
}

.avatar{
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}